body{
  background-color: #ffe6e6;
  display:grid;
  margin:0px;
}

.mainbar{
  background-color: white;
  display:flex;
  flex-direction:row;
  align-items:center;
  justify-content: space-around;
  position:fixed;
  top:0px;
  left:0px;
  width:100%;
  height:150px;
  border: 2px solid #ff8080;
}
.navbar{
  display:flex;
  flex-direction:row;
  align-items:center;
  justify-content: space-around;
}
.headerlinks{
  font-family: Optima, sans-serif;
  text-decoration: none;
  font-size: 20px;
  color:#ff9966;
  text-transform: uppercase;
  margin:0px 25px;
}
a.headerlinks:hover{
  color:#ff8080;
  text-decoration: underline;
}
#first h1{
  font-family: "Apple Chancery", cursive;
  font-size: 60px;
  margin:0px 10px;
  color:#ff9966;
}
i{
  color:#ff9966;
  margin:0px 5px;
}
i:hover{
  color:#ff8080;
}
#third{
  display:flex;
  flex-direction:row;
  justify-content: space-around;
}
.intro{
  margin-top:150px;
}
.introimages img{
  border:2px solid #ff8080;
}

.intro h2{
  font-family: Optima, sans-serif;
  font-size:30px;
  color:#ff9966;
  text-transform: uppercase;
  font-weight:lighter;
  text-align: center;
}
